@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: antiquewhite;
}

.navbar{
    width:auto;
    height:300px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    background-image: url("images/navbar.jpg");
    background-size:cover;
    opacity: 70%;
    color:white;
    font-size: larger;
    font-family:  'Poppins', sans-serif; 
    align-items: flex-start;
    padding-top: 10px;
}
.navbar p{
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar form .search{
    position:relative;
    display: inline-block;
}
.navbar form input[type=text]{
    margin-left: 900px;
    padding:7px;
    padding-right: 10px;
    font-size:14px;
    border-radius: 16px;
    border:1px solid purple;
}
.navbar form button{
    position:absolute;
    top:8px;
    right:10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.navbar #first{
    margin-top: 5px;
    border:1px solid rgb(236, 11, 172);
    background-color: white;
    padding:4px;
    border-radius: 10px;
    margin-left: 40px;
    background:linear-gradient(purple,rgb(195, 105, 120));
    width:90px;
   
}
.navbar #first a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    
}
.navbar #second{
    margin-top: 5px;
    border:1px solid rgb(236, 11, 172);
    background-color: white;
    padding:4px;
    border-radius: 10px;
    margin-left: 10px;
    background:linear-gradient(purple,rgb(195, 105, 120));
    width:90px;
   
}
.navbar #second a{
    text-decoration: none;
    color:white;
    font-weight: bold;
   
}
.main-content{
    border:1px solid #dbede9;
    width:500px;
    padding:30px;
    border-radius: 30px;
    margin-left: 100px;
    position:absolute;
    top:250px;
    background-color:white;
    font-family:'Poppins', sans-serif;
    
}
.main-content h2{
    margin-bottom: 30px;
    text-align: center;
    color:rgb(210, 21, 150);
}

.main-content li{
    margin:15px;
    font-size: large;
    list-style-type: none;
    
}
.main-content-2{
    border:1px solid #dbede9;
    width:500px;
    padding:30px;
    border-radius: 30px;
    margin-left: 700px;
    position:absolute;
    top:270px;
    background-color:white;
    font-family:'Poppins', sans-serif;
    
}
.main-content-2 h2{
    margin-bottom: 20px;
    text-align: center;
    color:rgb(210, 21, 150);
}

.main-content-2 li{
    margin:15px;
    font-size: large;
    list-style-type: none;
    
}
.extra{
    position:absolute;
    top:100px;
    color:white;
    font-family:'Poppins', sans-serif;
    margin-left:200px;
    font-weight: bold;
    font-size: 22px;
}
